.skills__container{
    grid-template-columns: repeat(4,1fr);
    column-gap: 1.87rem;
}

.skills__card{
    text-align:center;
    padding:1.875rem;
    border-radius:var(--border-radius);
    background-color: var(--container-color);
    transition: all 0.3s ease-in-out;
}

.skills__card:hover{
    transform: translateY(-10px);
}

.skills__card:nth-child(1){
    background-color: rgb(182, 142, 232);
    box-shadow: 0px 5px 20px 0px rgb(108, 108, 229 / 50%);
}

.skills__card:nth-child(2){
    background-color: rgb(249, 123, 76);
    box-shadow: 0px 5px 20px 0px rgb(108, 108, 229 / 50%);
}

.skills__card:nth-child(3){
    background-color: rgb(249, 215, 76);
    box-shadow: 0px 5px 20px 0px rgb(108, 108, 229 / 50%);
}

.skills__card:nth-child(4){
    background-color: rgb(108, 108, 229);
    box-shadow: 0px 5px 20px 0px rgb(108, 108, 229 / 50%);
}

.skills__img{
    margin-bottom: 1.25rem;
}

.skills__title{
    font-size:var(--h3-font-size);
    margin-bottom:1rem;
    color:#fff;
}

.skills__description{
    color: #f8f9fa;
}

/*********** FOR 2ND CHILD *********/
.skills__card:nth-child(2) .skills__title{
    color: var(--title-color);
} 

.skills__card:nth-child(2) .skills__description{
    color: var(--text-color);
}

/********** FOR 4RTH CHILD *********/
.skills__card:nth-child(4) .skills__title{
    color: var(--title-color);
} 

.skills__card:nth-child(4) .skills__description{
    color: var(--text-color);
}

@media screen and (max-width:1024px) {
    .skills__container{
        grid-template-columns: repeat(2,330px);
        justify-content: center;
        row-gap: 1.875rem;
    }
}

@media screen and (max-width:768px) {
    .skills__container{
        grid-template-columns: 310px;
    }
}

@media screen and (max-width:350px) {
    .skills__container{
        grid-template-columns: 1fr;
    }
}